html, body, #app{
  height:100%;
  margin:0;
  padding: 0;
  /* background-color: #f7f8fa; */
}

#NavBar .van-nav-bar{
  background-color:#1989fa;
  /* 设置导航栏的渐变色 */
  /* background: linear-gradient(to right, #ff2e29, #fe6e49)!important;
  background: -webkit-linear-gradient(to right, #ff2e29, #fe6e49)!important; */
  /* border:0; */
}
#NavBar .van-nav-bar .van-nav-bar__left{
  color:#fff;
}
#NavBar .van-nav-bar .van-nav-bar__title{
  color:#fff;
}
#NavBar .van-nav-bar .van-icon{
  color:#fff;
}
#NavBar .van-nav-bar .van-nav-bar__text{
  color:#fff;
}
.card {
  margin-bottom: 24px;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 12px #ebedf0;
}
.btn-mgn{
  padding: 16px;
}